* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner{
  width: 100%;
}

.banner__badge{
  position: absolute;
  top: 15rem;
  left: 1rem;
  border-style: solid;
  border-color: #6c6565;
  background-color: white;
}

.container {
  width:100%;
  margin: auto;
  padding-top: 8rem;
}

.row {
  width: 100%
}

.sidebar, .main-article {
  float: left;
  margin: 0 1rem;
}

.sidebar {
  font-family: sans-serif;
  width: calc(40% - 2rem);
  padding: 1rem;
}

.main-article {
  float: left;
  font-family: sans-serif;
  width: calc(60% - 2rem);
  padding: 1rem
}
